@{
    ViewData["Title"] = "ホーム";
}

<h1>@ViewBag.Message</h1>
<p>これはトップページのサンプルです。</p>
<a asp-controller="Home" asp-action="Index">ホーム</a>
<a asp-controller="Product" asp-action="Index">商品登録</a>
